#main{
  background-color: #FAF5E8;
  border-radius: 20px;
  border: 1px solid #F4E7C7;
  padding: 7%;
  margin: 5%;
}

#title{
  font-family: 'Courier Prime', monospace;
  font-weight: 100;
  margin: 0;
  font-size: 4em;
}

#subtitle{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

#tisub{
  margin-bottom: 5%; 
  padding: 2%;
  background-color: #F5E4BA;
  text-align: center;
  border-radius: 20%;
}

#img-div{
  text-align: center;
  background-color: #FEFAF2; 
  padding: 5%;
}

#img-caption{
  font-size: 1.125em;
  margin: 2%;
}

#image{
  width: 50%;
}

#heading{
  margin-top: 7%;
  text-align: center;
  font-family: 'Courier Prime', monospace;
  font-size: 1.625em;
}

.table{
  margin: 0 auto;
  margin-top: 3%;
  font-size: 1.125em;
/*   border: 1px solid #F5E4BA; */
}

.table td{
  padding: 1% 5% 1% 9%;
}

.right{
  font-weight: 800;
}

ul{
  padding: 2% 15%;
  background-color: #FEFAF2; 
}

li{
  padding: 3%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.062em;
}

h3{
  text-align: center;
}

@media (max-width: 768px){
  #title{
    font-size: 2em;
  }
  
  #subtitle, h3{
    font-size: 0.62em;
  }
  
  #heading{
    font-size: 0.9em;
  }
  
  #img-caption, .table{
  font-size: 0.5625em;
}
  
  li{
    font-size: 0.531em;
  }
  
} 
